fuentes/Bll.TierOne/Service References/Backend/BackendService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Protozoo.Core.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Protozoo.Core.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Entity" nillable="true" type="tns:Entity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntity" nillable="true" type="tns:ArrayOfEntity" />
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:EntityStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:simpleType name="EntityStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Clean" />
      <xs:enumeration value="Changed" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EntityStatus" nillable="true" type="tns:EntityStatus" />
</xs:schema>